<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accounts Update</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="inner" style="width: 60%;margin: auto;">
            <h1 class="text-center mt-5">Accounts Update</h1>
            
            <form method="post">
                <label for="acountEmployeeName" class="form-label">Employee Name</label>
                <input type="text"  name="acountEmployeeName" class="form-control" value="<%= account.acountEmployeeName %>"  disabled>
                <ul style="z-index: 3; position: absolute;" id="searchResults" class="list-group">

                </ul>
                <label for="role" class="form-label">Select Role</label>
                <select class="form-select" aria-label="Default select example" name="employeeRole" value="<%= account.employeeRole %>"  disabled>
                    <!-- <option selected>Open this select menu</option> -->
                    <option value="1" selected>Admin</option>
                    <option value="2">User</option>
                </select>
                <input type="text" name="employeeId" id="employeeId" style="display: none;" value="<%= account.employeeId %>">
                <label for="accountUserName"  class="form-label">UserName</label>
                <input type="text" name="accountUserName" id="accountUserName" value="<%= account.accountUserName %>" class="form-control" required>
                <label for="accountPassword"  class="form-label">Password</label>
                <input type="password" name="accountPassword" id="accountPassword" value="<%= account.accountPassword %>" class="form-control" required>
                <button class="btn btn-primary mt-2" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>