<%- include('header.ejs') %>
<%- include('bodyStart.ejs') %>
<h1 class="text-center">User Accounts</h1>
<a  href="/accountRegistration"class="btn btn-primary">Add Account</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Role</th>
                <th>UserName</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <% if(accounts.length>0){ %>
                <% for(let i=1;i<accounts.length;i++){ %>
                    <tr>
                        <td><%= accounts[i].acountEmployeeName %></td>
                        <td><% if(accounts[i].employeeRole==1){ %>
                            Admin
                            <% }else{ %>
                                User
                            <%}%></td>
                        <td><%= accounts[i].accountUserName %></td>
                        <td><%= accounts[i].accountPassword %></td>
                        <td><a href="/editAccount/<%= accounts[i].id %>">Edit</a></td>
                        <td><a href="/editAccountDelete/<%= accounts[i].id %>">Delete</a></td>
                    </tr>
                <%}}%>
        </tbody>
    </table>
<%- include('footer.ejs') %>